body{
    margin: 0;
    padding: 0;
    font-family: "Dosis", serif;
    color: #575a7b;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
.container{
    display: block;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #ffffff;
}
p{
    margin: 0;
    padding: 0;
}


/* header start  */


.header-outer {
    display: block;
    clear: both;
    position: sticky;
    top: 0px;
    /* position: relative;
    top: 91px; */
    z-index: 10;
    background-color: black;
    /* border-bottom: 1px solid rgba(255,255,255,0.25);
    margin-top: -91px; */
}
.header-inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-inner-child .img{
    width: 150px;
    padding: 22px 20px;
}
.header-inner-child>.header-icon{
    display: none;
}
.header-inner-child .main>li{
    display: inline-block;
    list-style: none;
    color: #ffffff;
    font-size: 12px;
    font-family: "roboto",sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.8px;
    font-size: 16px;
    padding: 21px 8px;
    position: relative;
}
.header-inner-child .main>li i{
    font-size: 13px;
    margin-left: 3px;
}
.header-inner-child .main>li>ul{
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 10;
    width: 200px;
    padding: 15px 0;
    margin-left: 10px;
    background-color: #ffffff;  
}
.header-inner-child .main>li>ul>li{
    display: block;
    list-style: none;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    padding: 0 20px;
    margin-bottom: 10px;
    margin-bottom: 12px;
}
.header-inner-child .main>li:hover ul{
    display: block;
}
.header-inner-child .main>li>ul>li:hover .p{
    color: #10142d;
}
.header-inner-child .main>li>ul>li .p{
    color: #575a7b;
    transition: all 0.1s linear;
}
.header-inner-child>a{
    display: inline-block;
    background-color: #ffa200;
    padding: 9px 32px;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: "roboto",sans-serif;
    letter-spacing: 0.5px;
}



/* header end */




/* poster start */

.poster-outer{
    display: block;
    clear: both;
    position: relative;
}
.poster-inner{
    display: block;
    /* margin-left: -15px;
    margin-right: -15px; */
}
.poster-inner-child{
    display: block;
    /* padding:  15px; */
    box-sizing: border-box;
    background-image: url("../image/banner.jpg");
    height: 730px;
    position: relative;
}
.poster-inner-child .color .text{
    max-width: 800px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 60px;
    margin: 0 auto;
    box-sizing: border-box;
}
.poster-inner-child .color .text span{
    display: block;
    font-size: 18px;
    color: #ffffff;
    font-weight:600;
    margin-bottom: 30px;
}
.poster-inner-child .color .text p strong{
    display: block;
    font-size: 65px;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.poster-inner-child .color .text p a{
    display: inline-block;
    padding: 13px 40px;
    color: #ffffff;
    background-color: #ffa200;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 5px;
}
.poster-inner-child .color .text p a:hover{
    background-color: #ffffff;
    color: #ffa200;
    transition: 0.5s ease-in-out;
}
.poster-inner-child .text p{
    margin: 0;
}
.color{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-content: center;
}



/* poster end */


 /* best start   */

    .best-outer{
        display: block;
        padding: 35px 0;
        clear: both;
        background-color: #fafafa;
    }
    .best-inner{
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 10px;
    }
    .best-inner-child{
        display: block;
        width: 33.33%;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .best-inner-child .img{
        position: relative;
        box-sizing: border-box;
        width: 100%;
        height:auto;
        overflow: hidden;
    }
    .best-inner-child .img .b-h{
        position: absolute;
        color: #ffffff;
        width: 90%;
        height: 90%;
        background-color: rgba(59, 59, 59, 0.95);
        top: 15px;
        left: 22px;
        opacity: 0;
        align-content: center;
        transition: 0.3s ease-in-out;
    }
    .best-inner-child .img .b-h p span{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: scale(1.1);
        transition: .5s;
        padding: 20px;
        border-radius: 4px;
    }
    .best-inner-child .img .b-h p a{
        display: block;
        color: #ffffff;
        font-weight: bold;
        font-size: 1.25rem;
        text-align: center;
        text-transform: capitalize;
    }
    .best-inner-child .img .b-h p a i{
        font-size: 15px;
        background-color: #fafafa;
        border-radius: 50%;
        color: #3b3b3b;
        padding: 2px;
    }
    .best-inner-child .img .b-h p .r{
        color: #ffffff;
        font-weight: 500;
    }
    .best-inner-child .img img{
        width: 100%;
        transition: all .3s ease-in-out;
    }
    .best-inner-child .img .b-h p a:hover{
        color: rgba(226, 226, 226, 0.9);
    }
    .best-inner-child .img .b-h p a:hover i{
        background-color: rgba(226, 226, 226, 0.9);
    }
    .best-inner-child .img:hover img{
        transform: scale(1.3);
    }
    .best-inner-child .img:hover .b-h{
        opacity: 1;
    }
    .best-inner-child .img:hover .text{
        opacity: 0;
    }
    .best-inner-child .img .text{
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        opacity: 1;
        transition: 0.3s ease-in-out;
    }
    .best-inner-child .img .text p{
        border-radius: 4px;
        padding: 10px 15px;
        font-size: 1.25rem;
        color: #ffffff;
        background-color: #ffa200;
        text-transform: capitalize; 
    }
    .best-inner-child .img .text p span{
        display: inline-block;
        background-color: #ffffff;
        color: #3b3b3b;
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-weight: bold;
        margin-right: 15px;
        text-align: center;
        border-radius: 4px;
    }
    .best-title{
        margin-bottom: 60px;
        text-align: center;
    }
    .best-title p{
        font-weight: 700;
        font-size: 40px;
        color: #3b3b3b;
        text-transform: capitalize;
        padding-bottom: 10px;
    }
    .best-title .b-t{
        color: #858584;
        padding-top: 10px;
        font-size: 18px;
        font-weight: 500;
    }
    .best-title .b-u-l{
        display: inline-block;
        height: 15px;
        width: 15px;
        background-color: #3b3b3b;
        position: relative;
    }
    .best-title .b-u-l::before{
        content: "";
        position: absolute;
        width: 80px;
        height: 4px;
        background-color: #ffa200;
        top: 50%;
        transform: translate(0,-50%);
        right: 20px;
    }
    .best-title .b-u-l::after{
        content: "";
        position: absolute;
        width: 80px;
        height: 4px;
        background-color: #ffa200;
        top: 50%;
        transform: translate(0,-50%);
        left: 20px;
    }


 /* best end   */


 /* success block start  */

.success-outer{
    display: block;
    clear: both;
    margin: 100px 0;
}
.success-inner{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.success-inner-child{
    display: block;
    width: 50%;
    padding: 0 15px;
    position: relative;
    box-sizing: border-box;
}
.success-inner-child .imgs2 img{
    position: absolute;
    top: 200px;
    left: 62%;
    transform: translate(-50%,0);
}
.success-inner-child img{
    border-radius: 5px;
    max-width: 425px;
}
.success-inner-child .imgs1{
    position: relative;
}
.success-inner-child .imgs1::before{
    content: "";
    position: absolute;
    top: 70px;
    right: 60px;
    width: 200px;
    height: 200px;
    border: 10px solid rgba(255, 162, 0, 0.1);
    z-index: -10;
    border-radius: 4px;
}
.success-inner-child .square-succ{
    border-left: 10px solid rgba(59, 59, 59, 0.1);
    border-bottom: 10px solid rgba(59, 59, 59, 0.1);
    height: 160px;
    margin-left: 30px;
    border-radius: 4px;
    width: 400px;
}
.success-inner-child strong{
    display: block;
    color: #3b3b3b;
    font-weight: bold;
    font-size: 40px;
    text-transform: capitalize;
    margin-bottom: 24px;
    padding-left: 40px
}
.success-inner-child .success-year{
    display: flex;
    width: 75%;
    margin-bottom: 30px;
    padding-left: 40px;
    font-family: "roboto", sans-serif;
}
.success-inner-child .success-year span{
    display: block;
    font-size: 70px;
    color: #3b3b3b;
    font-weight: 700;
    padding-right: 45px;
}
.success-inner-child .success-year .success-text{
    display: inline-block;
    font-weight: 500;
    color: #636362;
    font-size: 21px;
    border-left: 3px solid #ffa200;
    padding-left: 24px;
    padding-top: 15px;
}
.success-inner-child>.text{
    padding-left: 40px;
    color: #636362;
    font-family: "roboto", sans-serif;
    line-height: 1.5;
}
.success-inner-child>a{
    padding-left: 40px;
}
.success-inner-child>text{
    text-transform: capitalize;
}
.success-inner-child>.text>.text-suc{
    margin-bottom: 20px;
}
.success-inner-child>.text>ul>li{
    padding-bottom: 10px;
    padding-left: 25px;
    list-style-type: none;
    position: relative;
}
.success-inner-child>.text>ul{
    padding: 0;
    margin-bottom: 30px;
}
.success-inner-child>.text>ul>li::after{
    display: block;
    content: '\f101';
    font-family: Font Awesome\ 5 Free;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    font-weight: 600;
    color: #ffa200;
}
.success-inner-child>a{
    margin-left: 40px;
    display: inline-block;
    color: #ffffff;
    background-color: #3b3b3b;
    padding: 13px 40px;
    font-weight: 500;
    position: relative;
    border-radius: 4px;
    text-transform: capitalize;    
    font-family: "roboto", sans-serif;
    transition: all 0.2s ease-in-out;
}
.success-inner-child>a:hover{
    background-color: #ffa200;
}


 /* success block end */



 /* special service block start  */


.special-outer{
    display: block;
    margin: 35px 0;
    clear: both;
    background-color: #fafafa;
    padding: 70px 0;
}
.special-inner{
    display: block;
    margin-left: -15px;
    margin-right: -15px;
}
.special-innerf{
    display: flex;
}
.special-inners{
    display: flex;
}
.special-inner-child{
    width: 33.33%;
    padding: 0 15px;
}
.special-inner .special-inner-child>.img>img{
    border-radius: 4px;
}
.special-inner .special-inner-child>.text{
    background-color: #3b3b3b;
    padding: 25px;
    border-radius: 3px;
    color: #ffffff;
    margin-top: -80px;
    width: 83%;
    transition: 0.5s ease;
    position: relative;
}
.special-inner .special-inner-child>.text>p{
    font-family: "roboto", sans-serif;
    line-height: 1.5;
    padding-bottom: 16px;
}
.special-inner .special-inner-child>.text>a{
    display: inline-block;
    margin-bottom: 16px;
    font-size: 25px;
    font-weight: 700;
    text-transform: capitalize;
}
.special-inner .special-inner-child>.text>.btn{
    display: inline-block;
    font-size: 16px;
    font-family: "roboto",sans-serif;
}
.special-inner .special-inner-child>.text>.btn:hover{
    color: #e2e2e2;
}
.special-inner .special-inner-child>.text>.btn:hover::after{
    color: #e2e2e2;
}
.special-inner .special-inner-child>.text>.btn::after{
    color: #ffffff;
    content: '\f0a9';
    font-family: Font Awesome\ 5 Free;
    font-weight: 600;
    font-size: 15px;
    vertical-align: middle;
    padding-left: 8px;
}
.special-inner .special-inner-child>.text>i{
    position: absolute;
    right: 25px;
    top: 12px;
    font-size: 90px;
    color: rgba(255, 162, 0, 0.2);
}
.special-inners>.special-inner-child{
    margin-top: 30px;
}
.special-inner-child:hover>.text{
    width: 88%;
    background-color: #ffa200;
}
.special-inner-child:hover>.text>i{
    color: #ffffff;
    opacity: 0.2;
}
.special-title{
    margin-bottom: 60px;
    text-align: center;
}
.special-title p{
    font-weight: 700;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.special-title .s-t{
    color: #858584;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
.special-title .s-u-l{
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #3b3b3b;
    position: relative;
}
.special-title .s-u-l::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #ffa200;
    top: 50%;
    transform: translate(0,-50%);
    right: 20px;
}
.special-title .s-u-l::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #ffa200;
    top: 50%;
    transform: translate(0,-50%);
    left: 20px;
}



 /* special service block end */



 /* havedone start   */


.havedone-outer{
    display: block;
    margin: 35px 0;
    clear: both;
    height: 700px;
    position: relative;
    padding: 70px 0;
}
.havedone-inner{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}
.havedone-inner-child{
    display: block;
    width: 33.33%;
    padding: 0 15px;
    box-sizing: border-box;

}
.havedone-outer .con-have{
    max-width:1000px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    z-index: -10;
}
.havedone-inner-child .hv-inner-child>.text{
    text-align: right;
    margin-bottom: 4.5rem;
    position: relative;
    padding-right: 80px;
}
.havedone-inner-child .hv-inner-child .text2{
    text-align: left;
    padding-left: 80px;
    padding-right: 0px;
}
.havedone-inner-child .hv-inner-child .text strong{
    font-weight: 700;
    color: #3b3b3b;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 8px;
    line-height: 2;
}
.havedone-inner-child .hv-inner-child .text p{
    font-family: "roboto", sans-serif;
    color: #575a7b;
    letter-spacing: 1px;
    line-height: 1.7;
}
.havedone-inner-child .img {
    box-sizing: border-box;
    position: relative;
}
.havedone-inner-child .img img{
    height: auto;
    width: 100%;
}
.havedone-inner-child .img img:first-child{
    width: 90%;
    position: relative;
    top: 70px;
    left: 5%;
    animation: rotet 25s linear 0s infinite  normal;
}
.havedone-inner-child .img img:last-child{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%,0);
    max-width: 55%;
}
@keyframes rotet{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    } 
    100%{
        transform: rotate(360deg);
    }
}
.havedone-inner-child .hv-inner-child .text i{
    position: absolute;
    right: 0;
    top: 12px;
    font-size: 45px;
    color: #3b3b3b;
}
.havedone-inner-child .hv-inner-child .text2 i{
    position: absolute;
    left: 0;
    top: 12px;
    font-size: 45px;
    color: #3b3b3b;
}
.havedone-inner-child .hv-inner-child .text div{
    position: absolute;
    content: '';
    width: 45px;
    height: 45px;
    top: 25px;
    right: -12px;
    background-color: rgba(255, 162, 0, 0.2);
    z-index: -1;
    border-radius: 4px;
}
.havedone-inner-child .hv-inner-child .text2 div{
    left: -12px;
}
.hvd-title{
    margin-bottom: 60px;
    text-align: center;
}
.hvd-title p{
    font-weight: 700;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.hvd-title .h-v{
    color: #858584;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
.hvd-title .h-v-d{
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #3b3b3b;
    position: relative;
}
.hvd-title .h-v-d::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #ffa200;
    top: 50%;
    transform: translate(0,-50%);
    right: 20px;
}
.hvd-title .h-v-d::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #ffa200;
    top: 50%;
    transform: translate(0,-50%);
    left: 20px;
}




 /* havedone end */



 /* wokers start  */


.workers-outer{
    display: block;
    margin: 70px 0;
    clear: both;
}
.workers-inner{
    display: flex;
}
.workers-inner .owl-carousel .item{
    overflow: hidden;
    margin: 0 10px;
    border-radius: 4px;
}
.workers-inner-child .text{
    display: flex;
    justify-content: space-between;
    width: 50%;
    position: relative;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%,0);
    padding: 30px 30px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-sizing: border-box;

}
.workers-inner-child .text a:first-child{
    display: inline-block;
    color: #282b2d;
    font-weight: bold;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
}
.workers-inner-child .text a:last-child{
    display: none;
    background-color: #ffa200;
    padding: 13px 16px;
    border-radius: 50%;
    color: #fafafa;    
    position: relative;
}
.workers-inner .owl-carousel{
     margin: 0 auto;
}
.workers-inner .owl-carousel .item img{
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out
}
.workers-inner .owl-carousel .item img:hover{
    transform: scale(1.1);
}
.workers-title{
    margin-bottom: 60px;
    text-align: center;
}
.workers-title p{
    font-weight: 700;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.workers-title .workers-t{
    color: #858584;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
.workers-title .w-t{
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #3b3b3b;
    position: relative;
}
.workers-title .w-t::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #ffa200;
    top: 50%;
    transform: translate(0,-50%);
    right: 20px;
}
.workers-title .w-t::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #ffa200;
    top: 50%;
    transform: translate(0,-50%);
    left: 20px;
}



 /* wokers start  */



 /* process start  */

.process-outer{
    display: block;
    margin: 70px 0;
    clear: both;
}
.process-inner{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.process-inner-child{
    display: block;
    width: 25%;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}
.process-inner .child1::before{
    background: rgba(0, 0, 0, 0.1);
    content: "";
    height: 1px;
    left: 50%;
    margin: auto;
    position: absolute;
    right: 0;
    top: 36px;
    width: 100%;
}
.process-inner-child>span{
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #ffa200;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin: 0 auto;
    margin-bottom: 45px;
    position: relative;
}
.process-inner-child>span::before{
    display: block;
    content: '';
    position: absolute; 
    top: -9px;
    left: -9px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 75px;
    width: 75px;
    animation: round 2s linear 0s infinite normal;
}
.process-inner-child>span::after{
    display: block;
    content: '';
    position: absolute; 
    top:-1px;
    left:-1px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 60px;
    width: 60px;
    animation: round 2s linear 0s infinite normal;
}
.process-inner-child .text span{
    display: block;
    margin-bottom: 16px;
    font-weight: bold;
    color: #282b2d;
    text-transform: capitalize;
    font-size: 24px;
}
.process-inner-child .text p{
    font-weight: 500;
    font-family: "roboto", sans-serif;
}
 .process-title{
    margin-bottom: 60px;
    text-align: center;
}
.process-title p{
    font-weight: 700;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.process-title .process-t{
    color: #858584;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
.process-title .p-t{
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #3b3b3b;
    position: relative;
}
.process-title .p-t::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #ffa200;
    top: 50%;
    transform: translate(0,-50%);
    right: 20px;
}
.process-title .p-t::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #ffa200;
    top: 50%;
    transform: translate(0,-50%);
    left: 20px;
}
@keyframes round{
    0% {
        transform: scale(1);
        opacity: 1;
    }
    
    100% {
        transform:scale(1.5);
        opacity: 0;
}

}


 /* process end */



 /* excellent start  */


.excellent-outer{
    display: block;
    margin: 35px 0;
    clear: both;
}
.excellent-inner{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 50px;
    
}
.excellent-inner-child{
    display: block;
    width: 33.33%;
    margin: 0 15px;
    box-sizing: border-box;
}
.excellent-inner-child .img{
    position: relative;
}
.excellent-inner-child .img .ho{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0,);
    height: auto;
    align-content: flex-end;
    text-align: center;
    width: 100%;
}
.excellent-inner-child:hover .img .ho{
   background-color: rgba(0, 0, 0, 0.5);
}
.excellent-inner-child:hover .img .ho ul li a{
    display: inline-block;
}
.excellent-inner-child:hover .img .ho ul li{
    transform: scaleY(1);
}
.excellent-inner-child .img .ho ul{
    list-style: none;
    padding: 0;
}
.excellent-inner-child .img .ho ul li{
    display: inline-block;
    margin-right: 5px;
    transform: scaleY(0);
    transition: all 0.3s linear; 
    
}
.excellent-inner-child .img .ho ul li a{
    display: none;
    border-radius: 3px;
    width: 35px;
    height: 35px;
    margin: 0 auto;
    line-height: 37px;
    text-align: center;
    color: #10142d;
    background-color: #ffffff;
}
.excellent-inner-child .img .ho ul li a:hover{
    background-color: #ffa200;
    color: #ffffff;
}
.excellent-inner-child .img img{
    border-radius: 4px;
}
.excellent-inner-child .text{
    text-transform: capitalize;
    padding: 30px 20px;
    position: relative;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.excellent-inner-child .text::before{
    content: "";
    position: absolute;
    top: 35px;
    left: 0;
    width: 3px;
    height: 45px;
    background-color: #ffa200;
}
.excellent-inner-child .text strong{
    display: block;
    font-weight: bold;
    color: #282b2d;
    font-size:  24px;
    margin-bottom: 8px;
    line-height: 1.2;
}
.excellent-inner-child .text span{
    letter-spacing: 0.5px;
    line-height: 1.7;
    font-family: "roboto", sans-serif;
}
.excellent-title{
    margin-bottom: 60px;
    text-align: center;
}
.excellent-title p{
    font-weight: 700;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.excellent-title .excellent-t{
    color: #858584;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
.excellent-title .e-t{
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #3b3b3b;
    position: relative;
}
.excellent-title .e-t::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #ffa200;
    top: 50%;
    transform: translate(0,-50%);
    right: 20px;
}
.excellent-title .e-t::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #ffa200;
    top: 50%;
    transform: translate(0,-50%);
    left: 20px;
}




 /* excellent end  */


 /* bg block start  */


.bg-outer{
    display: block;
    margin: 35px 0;
    clear: both;
    position: relative;
}
.bg-outer .back{
    background-color: rgba(0, 0, 0, 0.4);
    height: 650px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.bg-inner{
    display: block;
    position: relative;
    /* overflow: hidden; */
}
.bg-outer .img{
    height: 650px;
    overflow: hidden;
}
.bg-outer .img img{
    height: 100%;
    width: 110%;  
}
.child2{
    padding: 40px;
    /* position: absolute; */
    margin-top: -525px;
    margin-left: 100px;
    line-height: 1.7;
    letter-spacing: 1px;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 35px;
    margin-left: -765px;
}
.bg-inner-child .text{
    background-color: #ffffff;
    border-radius: 4px;
    width: 515px;
    padding: 30px;
}
.bg-inner-child .text strong{
    display: block;
   font-size: 46px;
   width: 100px;
   color: #ffa200;
   font-family: "themify";
   font-weight: 400;
}
.bg-inner-child .text>p{
    display: inline-block;
    font-size: 20px;
    margin-bottom: 24px;
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 0.5px;
}
.bg-inner-child .text .pho{
    display: flex;
}
.bg-inner-child .text .pho .img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-sizing: border-box;
    justify-content: center;
}
.bg-inner-child .text .pho .img img{
    height: auto;
    width: 100%;
}
.bg-inner-child .text .pho .text1{
    margin-left: 16px;
    margin-top: 10px;
    text-transform: capitalize;
}
.bg-inner-child .text .pho .text1 span{
    font-weight: bold;
    color: #282b2d;
    font-size: 20px;
    line-height: 1.2;
}
.bg-inner-child .text .pho .text1 p{
    color: #3b3b3b;
}




 /* bg block end */



 /* blog block start  */


.blog-outer{
    display: block;
    margin-top: 135px;
    margin-bottom: 35px;
    clear: both;   
}
.blog-inner{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.blog-inner-child{
    position: relative;
    display: block;
    width: 33.33%;
    margin: 0 15px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.blog-inner-child .date{
    position: absolute;
    bottom: 285px;
    right: 30px;
    background: #ffa200;
    padding: 8px 0;
    font-weight: 500;
    width: 55px;
    height: 45px;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
}
.blog-inner-child .date>span{
    display: block;
    text-transform: capitalize;
    font-family: "roboto", sans-serif;
    font-size: 12px;
    font-weight:700;
    padding-top: 10px;
}
.blog-inner-child>.date>strong{
    padding-bottom: 5px;
    border-bottom: 1px solid #ffffff;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    font-family: "roboto", sans-serif;
}
.blog-inner-child .img img{
    border-radius: 4px 4px 0 0;
}
.blog-inner-child .text{
    padding: 30px;

}
.blog-inner-child .text .a1{
    display: block;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
    color: #282b2d;
    transition: 0.2s ease-in-out;
}
.blog-inner-child .text .a1:hover{
    color: #ffa200;
}
.blog-inner-child .text .a2:hover{
    color: #ffa200;
}
.blog-inner-child .text>span{
    display: block;
    margin-bottom: 16px;
    letter-spacing: 1px;
    line-height: 1.7;
}
.blog-inner-child .text .a2{
    display: none;
    font-weight: 500;
    color: #3b3b3b;
    line-height: 20px;
    text-transform: capitalize;
    transition: 0.2s;
}
.blog-inner-child .text .a2::after{
    color: #ffa200;
    content: '\f0a9';
    font-family: Font Awesome\ 5 Free;
    font-weight: 600;
    font-size: 15px;
    padding-left: 5px;
}
.blog-inner-child .text>.text2{
    display: flex;
    box-sizing: border-box;
    padding-top: 20px;
    border-top:1px solid rgba(0, 0, 0, 0.16);
    margin-top: 20px;
}
.blog-inner-child .text>.text2>.text3{
    display: block;
    box-sizing: border-box;
    padding-left: 10px;
    padding-top: 9px;
}
.blog-inner-child .text>.text2>.img{
    display: inline-block;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}
.blog-inner-child .text>.text2>.img img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}
.blog-inner-child .text>.text2>.text3>strong{
    display: inline-block;
    font-weight: bold;
    color: #282b2d;
    text-transform: capitalize;
    margin-right: 145px;
    transition: 0.2s ease-in-out;
}
.blog-inner-child .text>.text2>.text3>strong:hover{
    color: #ffa200; 
}
.blog-inner-child .text>.text2>.text3>span{
    font-family: "roboto", sans-serif;
    font-weight: 500;
    padding-left: 5px;
}
.blog-title{
    margin-bottom: 60px;
    text-align: center;
}
.blog-title p{
    font-weight: 700;
    font-size: 40px;
    color: #3b3b3b;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.blog-title .blog-t{
    color: #858584;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
}
.blog-title .b-t{
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: #3b3b3b;
    position: relative;
}
.blog-title .b-t::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #ffa200;
    top: 50%;
    transform: translate(0,-50%);
    right: 20px;
}
.blog-title .b-t::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 4px;
    background-color: #ffa200;
    top: 50%;
    transform: translate(0,-50%);
    left: 20px;
}




 /* blog block end */



 /* footer start  */


/* footer top start */

.footer-top-outer{
    display: block;
    margin-top: 70px;
    clear: both;
}
.footer-top-inner{
    display: flex;
    background-color: #ffa200;
}
.footer-top-inner .footer-top-child{
    display: block;
    width: 33.33%;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid rgba(255,255,255,0.25);
    padding: 50px;
    position: relative;
}
.footer-top-inner .footer-top-child span{
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}
.footer-top-inner .footer-top-child i{
    position: absolute;
    font-size: 100px;
    color: rgba(0, 0, 0, 0.04);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* footer top end*/


/* footer middle start */


.footer-middle-outer{
    display: block;
    margin: 0;
    clear: both;
    background-color: #191f23;
}
.footer-middle-inner{
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 80px;
}
.footer-middle-inner .footer-middle-child{
    display: block;
    width: 25%;
    padding: 0 15px;
    margin-top: 41px;
    color: #ffffff;
    text-transform: capitalize;
    box-sizing: border-box;
}
.footer-middle-inner .footer-middle-child a{
    color: #282b2d;
}
.footer-middle-inner .footer-middle-child .img{
    width: 200px;
    margin-bottom: 30px;
}
.footer-middle-inner .footer-middle-child>p{
    letter-spacing: 0.5px;
    margin-bottom: 30px;
    font-family: "roboto",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}
.footer-middle-inner .footer-middle-child>a{
    display: block;
    color: #ffffff;
    text-transform: capitalize;
    font-family: "roboto",sans-serif;
    margin-bottom: 20px;
    transition: all 0.1s linear;
}
.footer-middle-inner .footer-middle-child>a:hover{
    color: #ffa200;
}
.footer-middle-inner .footer-middle-child>a>i{
    margin-right: 10px;
}
.footer-middle-inner .footer-middle-child>.div3{
    text-transform: lowercase;
}
.footer-middle-inner .footer-middle-child>.div1 i{
    margin-right: 10px;
}
.footer-middle-inner .footer-middle-child>.div2 i{
    margin-right: 10px;
}
.footer-middle-inner .footer-middle-child>.div2{
    transition: all 0.1s linear;
}
.footer-middle-inner .footer-middle-child>.div2:hover{
    color: #ffa200;
}
.footer-middle-inner .footer-middle-child>.div3 i{
    margin-right: 10px;
}

.footer-middle-inner .footer-middle-child>.f{
    display: inline-block;
    margin: 0;
    background-color: #1e252a;
    display: block;
    color: #e9e9e9;
    max-height: 55px;
    border-radius: 4px;
    margin-top: 90px;
    transition: all 0.1s linear;
}
.footer-middle-inner .footer-middle-child>.f:hover{
    background-color: #ffa200;
    color: #ffffff;
}
.footer-middle-inner .footer-middle-child>.f2{
    margin-top: 65px;
}
.footer-middle-inner .footer-middle-child>.f3{
    margin-top: 136px;
}
.footer-middle-inner .footer-middle-child>.f4{
    margin-top: 142px;
}
.footer-middle-inner .footer-middle-child>.f>i{
    padding: 20px 22px;
    background-color:rgba(255, 255, 255, 0.15);
    text-align: center;
    margin-right: 10px;
    border-radius: 4px 0 0 4px;
}
.footer-middle-inner .footer-middle-child .middle-title{
   font-weight: bold;
   font-size: 20px;
   color: #fafafa; 
   position: relative;
}
.footer-middle-inner .footer-middle-child .middle-title .ul-mt{
    display: block;
    height: 3px;
    width: 50px;
    position: relative;
    width: 14px;
    height: 10px;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 30px;
}
.footer-middle-inner .footer-middle-child .middle-title::after{
    width: 80px;
    height: 4px;
    left: 20px;
    content: "";
    position: absolute;
    bottom: 10%;
    background-color: #ffa200;    
}
.footer-middle-inner .footer-middle-child .first p{
    font-weight: 500;
    margin-bottom: 8px;
    line-height: 1.2;
}
.footer-middle-inner .footer-middle-child .first span{
    font-size: 0.9rem;
    font-family: "roboto",sans-serif;
    text-transform: uppercase;
}
.footer-middle-inner .footer-middle-child .first{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px dashed rgba(102, 102, 102, 0.4);
    position: relative;
    padding-left: 50px;
}
.footer-middle-inner .footer-middle-child .first i{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}
.footer-middle-inner .footer-middle-child .second{
    padding-bottom: 0px;
    margin-bottom: 0px;
    border: none;
}
.footer-middle-inner .footer-middle-child .input input{
    width: 65%;
    height: 30px;
    border-radius: 4px;
    padding: 8px 64px 8px 24px
}
.footer-middle-inner .footer-middle-child .input button{
    color: #ffa200;
    margin-left: -45px;
    font-size: 20px;
    background-color: #ffffff;
    border: none;
}

/* footer middle end */



/* footer bottom start */


.footer-bottom-outer{
    display: block;
    clear: both;
    background-color: #191f23;
    padding-top: 70px;
}
.footer-bottom-inner{
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-bottom-inner .footer-bottom-child{
    color: #ffffff;
    text-transform: capitalize;
    font-family: "roboto", sans-serif;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom-inner .footer-bottom-child .text span{
    color: #ffa200;
    padding-left: 10px;
    transition: 0.1s linear;
}
.footer-bottom-inner .footer-bottom-child .text span:hover{
    color: #ffffff;
}



/* footer bottom end */

 /* footer end */