 .bo {
     margin: 0;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background: #121212;
 }

 .loader {
     width: 80px;
     height: 80px;
     border: 10px solid transparent;
     border-top: 10px solid #ffa200;
     border-radius: 50%;
     animation: spin 1.2s linear infinite, pulse 1.2s ease-in-out infinite;
 }

 @keyframes spin {
     0% {
         transform: rotate(0deg);
     }

     100% {
         transform: rotate(360deg);
     }
 }

 @keyframes pulse {

     0%,
     100% {
         box-shadow: 0 0 0 0 rgba(255, 162, 0, 0.7);
     }

     50% {
         box-shadow: 0 0 0 15px rgba(255, 162, 0, 0);
     }
 }